@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@font-face {
    font-family: "Olivia";
    src: url('./olivia_6/Olivia.ttf');
    color: rebeccapurple;
}


body{
    background-image: url(./img/bckgnd.jpg);
    background-size: cover;
}

h1{
    text-align: center;
    padding: 5%;
    font-family: "Olivia";
    color: white;
}
.tit{
    height: 15vh;
}
ul{
    text-decoration: none;
}

#div3col{
    color: white;
    
}

.col{
    border-radius: 30px;
    font-family: 'Caveat', cursive;
}
#col-3{
    background-image: url(./img/menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 70vh;
    color: white;
    padding-top: 17vh;
}
#col-2{
    height: 60vh;
    width: 25vw;
}

div[id="col-2"]>div{
    border-radius: 3vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}
.col-col2{
    background-image: url(./img/menu.jpg);
    margin-bottom: 3vh;
    height: 40vh;
    padding-top: 4vh;
}
.d-block{
    height: 30vh;
    border-radius: 2vh;
    border: 3px solid black;
}